h1, h2 {
    font-family: 'Oswald', sans;
}
body {
    color: darkblue;
    font-family: 'Open Sans', sans;
    margin: 10px 50px 10px 50px;
    width: 950px;
    background-color: Ivory;
}
img {
    float: left;
    margin-right: 10px;
}