h1, h2 {
    font-family: 'Oswald', sans;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
#navbar a {
    margin-left: 75px;
    margin-right: 75px;
}
body {
    color: darkblue;
    font-family: 'Open Sans', sans;
    margin: 10px 50px 10px 50px;
    width: 950px;
    background-color: ivory;
}
img {
    float: left;
    margin-right: 10px;
}
.left {
    float: left;
    width: 300px;
    padding: 1em;
}
.right {
    float: right;
    width: 300px;
    padding: 1em;
}
.center {
    margin-left: 300px;
    margin-right: 300px;
    padding: 1em;
}